<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>New User</h2>
  <hr>

  <fieldset>

    <p>
      <%= f.label :name  %>
      <%= f.text_field :name %>
    </p>

    <div class="clearfix"></div>
    
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    
    <div class="clearfix"></div>

    <p>
      <%= f.label :phone_number%>
      <%= f.text_field :phone_number %>
    </p>

    <div class="clearfix"></div>

    <p>
      <%= f.label :password%>
      <%= f.text_field :password %>
    </p>

    <div class="clearfix"></div>

    <p>
      <div class="actions">
        <%= f.submit %>
      </div>
    </p>

    </fieldset>
<% end %>
