<p id="notice"><%= notice %></p>

<p> <%=User.find(@story.next_user_id).name %></p>

<div class="stories">


  <% @stories.each do |story| %>
    
    <div class="story">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">story started <%= time_ago_in_words story.created_at %> ago</h3>
        </div>
        
        <div class="story-inner">
          <% story.lines.each do |line| %>
            <span class='line'><%= line.content %></span>
          <% end %>
        </div>
        
        <br>
        <div class="btn-group">
          <%= link_to 'Show', story, :class => "btn btn-info" %>
          <%= link_to 'Edit', edit_story_path(story), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        </div>
      </div>


    </div>


  <% end %>

</div>

<%= link_to 'New Story', new_story_path, :class => "btn btn-primary" %>
