
<div class="featured-story">
  <div class="story-inner">
    <% @story.lines.each do |line| %>
      <span class='line' data-toggle='tooltip' title='Written by <%= line.user.name %>'><%= line.content %></span>
    <% end %>
  </div>
  <div class="featured-story-meta">
    <p>Waiting on ... <span id="next_user"><%=User.find(@story.next_user_id || 1).name %></span></p>
    <p>story started <%= time_ago_in_words(@story.created_at) %> ago</p>
  </div>
</div>



<div class="gallery col-lg-12" id="gallery">
  <div class="inner-gallery">
    <h2>Gallery</h2>
      <% @stories.each_with_index do |story, index| %>
        <div class="gallery-story col-lg-3">
          <%= image_tag "authors/#{@author_photos[index]}", :class => "author-profile" %>

          <div class="gallery-inner-text">
            <p><%= story.lines.first.content %></p>
            <p class="date-meta"><%= time_ago_in_words(story.created_at) %> ago</p>
            <p><%= link_to "read more", story %><span class="glyphicon glyphicon-chevron-right"></span></p>
          </div>
          
        </div>
      <% end %>
  </div>

</div>