<p id="notice"><%= notice %></p>

<h1>Listing stories</h1>
<p>Logged in as: <%= current_user.name if current_user%></p>


<div class="stories">

  <% @stories.each do |story| %>
    
    <div class="story">

        <% story.lines.each do |line| %>
          <%= line.content %>
        <% end %>
      
      <br>
      <%= link_to 'Show', story %> |
      <%= link_to 'Edit', edit_story_path(story) %> |
      <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>




    </div>


  <% end %>

</div>

<%= link_to 'New Story', new_story_path %>
