<p id="notice"><%= notice %></p>

<h1>Listing stories</h1>
<p>Logged in as: <%= current_user.name if current_user%></p>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
