<div class="navbar">
  <div class="container">

    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Be sure to leave the brand out there if you want it shown -->
    <!-- Place everything within .navbar-collapse to hide it until above 768px -->
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", :root %></li>
        <%if params[:action] == "index"%>
          <li><%= link_to "Gallery", "/#gallery", :class => "scroll" %></li>
        <%end%>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li><%= link_to "Logout", logout_path %></li>
          <li>
            <%= link_to current_user.name, current_user %>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Sign up", new_user_path %></li>
        <% end %>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->