<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%#= render "layouts/nav" %>


  <%#= render "layouts/text_in" %>

  <div class="logo-container">
    <!-- <embed class="logo" src="/assets/nomdeplume_pink.svg" type="image/svg+xml" /> -->
    <%= image_tag "nom_logo_250_300.png", :class => "logo" %>
  </div>

  <%= yield %>



</body>
</html>
