<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%#= render "layouts/nav" %>


  <%#= render "layouts/text_in" %>

    
  </div>

  <div class="container">
    <%= yield %>
  </div>





</body>
</html>
