<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar">
    <div class="container">

      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to title, :root, :class => "navbar-brand" %>

      <!-- Place everything within .navbar-collapse to hide it until above 768px -->
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Stories", :root %></li>
          <li><%= link_to "Users", users_path %></li>
          <% if session[:user_id] %>
            <li><%= link_to "Login", login_path %></li>
          <% else %>
            <li><%= link_to "Logout", logout_path %></li>
          <% end %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h2>Text in at <%= ENV["TWILIO_NUMBER"] %></h2>
      </div>
    </div>
    
  </div>

  <div class="container">
    <%= yield %>
  </div>





</body>
</html>
